html, body {
  background: transparent;
  width: 100%;
  height: 100%;
}

#root {
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
